body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: blue;
    font-size: 18px;
    text-align: center;
  }
  
  p {
    font-size: 14px;
    text-align: justify;
    color: red;
  }
  
  img {
    display: block;
    margin: auto;
    width: 50%;
    border: 5px solid black;
  }
  #logo {
    display: block;
    margin: auto;
    width: 50%;
    border: 5px solid black;
    color: brown;
    
}
h4 {
  display: block;
  color: firebrick;
  border: 5px solid black;
  margin : auto ;
}

  
  
